.products {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    font-family:Georgia, 'Times New Roman', Times, serif;
    height: 1100px;
}

.item-1 {
    margin-left: 50px;
    color:cadetblue;
}

.item-2 {
    margin-left: 100px;
    color: red;
}

.buy-btn {
    padding: 5px;
    margin-left: 150px;
    cursor: pointer;
    border: 1px solid gray;
    background: orangered;
    color: yellowgreen;
    margin-top: 10px;
}

.btn-cart {
    width: 100%;
    margin: 0 auto;
    position: absolute;
    top: 350px;
    background-color: goldenrod;
    border: red;
    cursor: pointer;
    padding-bottom: 15px;
}

.svg {
    padding-top: 12px;
}

.bas {
    padding-left: 20px;
}

